@import "../../variables.scss";

.mainPersonalDetails {
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85vh;
  //   background: $color2;

  .innerPersonalDetails {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $color2;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    .left {
      width: 25%;
      border: 1px solid $color2;
      padding: 10px;
      border-radius: 5px;
      background: $color2;
      h1 {
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
      }
      h4 {
        font-size: 14px;
        font-weight: 500;
        span {
          font-weight: 200;
        }
      }
    }
    .right {
      width: 75%;
      padding: 10px;
      margin-left: 20px;
      h4 {
        font-size: 20px;
        span {
          color: $color;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .mainPersonalDetails {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // position: absolute;
    //   background: $color2;
    top: 105vh;

    .innerPersonalDetails {
      width: 90%;
      height: 80%;
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;

        p {
          width: 100%;
        }
      }
    }
  }
}
